html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

svg {
    position: relative;
    overflow: hidden;
    top: 0px;
    z-index: 0;
    float: right;

}

path {
    width: 100%;
    position: relative;
}

#controls {
    height: 100%;
    padding: 1em;
    background-color: #EEEEEE;
    display: inline-block;
    position: fixed;
    z-index: 1;
}
ul {
    padding-left: 0px;
}
li {
    list-style: none;
    margin: 1em;
}

input {
    float:right;
}

#dummyCanvas {
    display:none;
}

#drawingCanvas {
    /* width: 100px; */
    /* height: 100px; */
}

#canvasDiv {
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
}
